.f-80 { font-size: 80%; }
.f-85 { font-size: 85%; }
.f-90 { font-size: 90%; }
.f-95 { font-size: 95%; }
.f-100 { font-size: 100%; }
.f-105 { font-size: 105%; }
.f-110 { font-size: 110%; }
.f-115 { font-size: 115%; }
.f-120 { font-size: 120%; }
.f-125 { font-size: 125%; }
.f-130 { font-size: 130%; }
.f-135 { font-size: 135%; }
.f-140 { font-size: 140%; }
.f-145 { font-size: 145%; }
.f-150 { font-size: 150%; }
.f-155 { font-size: 155%; }
.f-160 { font-size: 160%; }
.f-165 { font-size: 165%; }
.f-170 { font-size: 170%; }
.f-175 { font-size: 175%; }
.f-180 { font-size: 180%; }
.f-185 { font-size: 185%; }
.f-190 { font-size: 190%; }
.f-195 { font-size: 195%; }
.f-200 { font-size: 200%; }
