.f80 { font-size: 80%; }
.f85 { font-size: 85%; }
.f90 { font-size: 90%; }
.f95 { font-size: 95%; }
.f100 { font-size: 100%; }
.f105 { font-size: 105%; }
.f110 { font-size: 110%; }
.f115 { font-size: 115%; }
.f120 { font-size: 120%; }
.f125 { font-size: 125%; }
.f130 { font-size: 130%; }
.f135 { font-size: 135%; }
.f140 { font-size: 140%; }
.f145 { font-size: 145%; }
.f150 { font-size: 150%; }
.f155 { font-size: 155%; }
.f160 { font-size: 160%; }
.f165 { font-size: 165%; }
.f170 { font-size: 170%; }
.f175 { font-size: 175%; }
.f180 { font-size: 180%; }
.f185 { font-size: 185%; }
.f190 { font-size: 190%; }
.f195 { font-size: 195%; }
.f200 { font-size: 200%; }
